<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mina de ópalo</title>
    <script src="../script.js">
    </script>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body onload="Init()">
    <h1 id="Heading">Mina de ópalo</h1>
    <span id="week"></span>
    <form id="Form" method="POST" action="/" enctype="application/x-www-form-urlencoded">
        <label for="opals">Ópalos</label>
        <input name="opals" id="opals" type="number" value="1" min="1"><span id="maxYieldDice"></span><br />
        <label for="Jeweller">¿Joyero?</label>
        <input name="jeweller" id="jeweller" type="checkbox"><br />
        <label for="Miners">¿Cuántos mineros?</label>
        <input name="miners" id="miners" type="number" max="20" min="1" value="4" onchange="UpdateOpalsCount()"><br />
        <input type="submit" id="Submit" value="Calcular">
    </form>

    <p id="NetWorth">Ganancias totales: <span id="NetWorthNumber"> <%= total %></span></p>

    <table id="Table">
        <th>
            Ópalos
        </th>
        <th>
            ¿Joyero?
        </th>
        <th>
            Mineros
        </th>
        <th>
            Venta
        </th>
        <th>
            Sueldo Joyero
        </th>
        <th>
            Sueldo mineros
        </th>
        <th>
            Ganancia
        </th>
        <th>
            Ganancia x PJ
        </th>
        <% rows.forEach(function(row) { %>
            <tr>
                <td>
                    <%= row.opals %>
                </td>
                <td>
                    <%= row.jeweller %> 
                </td>
                <td>
                    <%= row.miners %>
                </td>
                <td>
                    <%= row.grossprofit %>
                </td>
                <td>
                    <%= row.jewellersfee %>
                </td>
                <td>
                    <%= row.minersfee %>
                </td>
                <td>
                    <%= row.netprofit %>
                </td>
                <td>
                    <%= row.playerprofit %>
                </td>
            </tr>
            <% });%>
    </table>

</body>

</html>